_site
.sass-cache
.jekyll-metadata
vendor/bundle/gems/ffi-1.9.25/ext/ffi_c/libffi-x86_64-linux-gnu/include/ffitarget.h
_posts/A_todo/
_posts/private/
_posts/short-story/

images_1/
jekyll-now-master/
jekyll-theme-EasyBook-gh-pages/
.my.md
*.private.md
_posts/cources/
_posts/health/2019-12-26-health-depression.md
_posts/teach/2019-12-28-financeRiskManagementApp.md
_posts/teach/2019-12-29-tools.md
